:root{
    --sans: 'Open Sans', helvetica, sans-serif;
    --serif: 'Playfair Display', Times, serif;
    --highlight: RGBA(0, 69, 99, 1.00);
    --highlight-trans: RGBA(0, 69, 99, 0.7);

    --lh-100: 1.2;
    --lh-200: 1.4;
    --lh-300: 1.6;
}

html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
main {
    margin: 0 5em;
}
body {
    font-family: var(--sans);
    font-weight: 300;
    line-height: var(--lh-tight);
}

button {
    display: inline-block;
    border: none;
    background: var(--highlight);
    color: white;
    padding: 0.6em 1.6em;
    outline: none;
    font-size: 0.8em;
    font-weight: 300;
    font-family: var(--sans);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
}
