<template>
    <style>
        figure {
            margin: 0;
        }
        img {
            width: 100%;
        }
        figcaption {
            font-size: 0.8em;
        }
    </style>
    <figure>
        <img class="posterframe" src="" />
        <figcaption>
            <b></b>
            <div></div>
        </figcaption>
    </figure>
</template>
<link rel="import" href="/components/root-component/root-component.html" />
<script src="/components/media-block/media-block.js"></script>
